

<nav class="navbar" id="wave">
    <li><a href="/" class="transition-fade pixel active" id="sun" > 
  sun
  </a></li>
    <ul>
        <li><a href="/projects" class="transition-fade pixel " id="mr" >Projects</a></li>
        <li><a href="/about" class="transition-fade pixel ">about</a></li>
    </ul>
</nav>

