
<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 

  
        <canvas id="bg"></canvas>
    
        <main id="swup"  class="transition-fade" >
      
      
          
            <h1>🚀 Welcome To The Solar System! </h1>
          
        
    
    
        </main>
    
        
      
</body>
</html>