<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 

    <canvas id="bg"></canvas>
    <main id="swup"  class="transition-fade">
     
        <h1>hello projects</h1>
    
    </main>
  
</body>
</html>